body {
	margin: 0 auto;
	background: #9E9E9E;
}

.container {
	max-width: 960px;
}

.flex {
	display: flex;
}

header {
	width: 100%;
	height: 20vh;
	background-color: #d35400;
	text-align: center;
	overflow: hidden;
}

.app-window {
	align-content: center;
	justify-content: center;
}

.app-window iframe {
	width: 80%;
	height: 60vh;
}
